<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/ccp_logo.png">
    <title>Travel</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <a class = "ccp-logo" href="/"><img src = "/static/images/ccp_logo.png" alt = "CCP Logo"/></a>
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/pets/">Pets</a></li>
                <li><a href = "/recipes/">Recipes</a></li>
                <li><a class = "current-page" href = "/travel/">Travel</a></li>
            </ul>
        </nav>
        <h1 class = "title">Travel</h1>
    </header>
    <aside class = "table-of-contents">
        <span class = "table-of-contents-category">Skip To Section:</span>
        {% for travel in travels %}
        <a href = "#item{{ travel.travelid }}">{{ travel.travelname }}</a>
        {% endfor %}
    </aside>
    <main id = "main">
        <br>
        {% for travel in travels %}
        <div class = "travel-grid" id = "item{{ travel.travelid }}">
            <div class = "travel-name">
                <h2>{{ travel.travelname }}</h2>
            </div>
            <div class = "travel-location">
                <p><span class = "category">Geographical Location:</span>{{ travel.location }}</p>
                <p><span class = "category">Owner:</span> 
                    <a href = "{{ url_for('show_user_profile', user_url_slug=travel.travel_owner) }}">{{ travel.travel_owner }}</a>
                </p>
            </div>
            <div class = "travel-main">
                <picture>
                    <source srcset="{{ url_for('download_travel_file', filename=travel.still) }}" media="(prefers-reduced-motion: reduce)">
                    <img src="{{ url_for('download_travel_file', filename=travel.moving) }}" alt="{{ travel.main_alt }}">
                </picture>
            </div>
            <div class = "travel-blurbs">
                {% for blurb in travel.blurbs %}
                <p>{{ blurb.blurb_text }}</p>
                {% endfor %}
            </div>
            <div class = "travel-media-title">
                <h3>Photo Gallery</h3>
            </div>
            {% for media in travel.medias %}
            <div class = "travel-media">
                {% if media.media_filename.endswith(('.jpg', '.jpeg', '.png', '.gif', '.JPG')) %}
                    <!-- Render an image -->
                    <img src="{{ url_for('download_travel_file', filename=media.media_filename) }}" alt="{{ media.media_alt }}">
                    {% elif media.media_filename.endswith(('.mp4', '.mov', '.webm', '.MOV')) %}
                    <!-- Render a video -->
                    <video controls>
                        <source src="{{ url_for('download_travel_file', filename=media.media_filename) }}">
                        Your browser does not support the video tag.  This was a video of {{ media.media_alt }}
                    </video>
                    {% else %}
                    <!-- Unknown media type -->
                    <p>Unknown media format</p>
                    {% endif %}
            </div>
            <div class = "travel-caption">
                <p>{{ media.caption }}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    </main>
</body>
</html>