<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/ccp_logo.png">
    <title>ccp</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <a class = "ccp-logo" href="/"><img src = "/static/images/ccp_logo.png" alt = "CCP Logo"/></a>
        </nav>
    </header>
    <main id = "main">
        <form class="create" action="/accounts/" method="POST" enctype="multipart/form-data">
            <p>
                <label for="f">Photo</label>
                <input type="file" id="f" name="file" required/><br>
            </p>
            <p>
                <label for="fn">Name</label>
                <input type="text" id="fn" name="username" required/><br>
            </p>
            <p>
                <label for="u">Username</label>
                <input type="text" id="u" name="fullname" required/><br>
            </p>
            <p>
                <label for="e">Email</label>
                <input type="text" id="e" name="email" required/><br>
            </p>
            <p>
                <label for="p">Password</label>
                <input type="password" id="p" name="password" required/><br>
            </p>
            <input type="submit" value="Sign up"/><br>
            <input type="hidden" name="operation" value="create"/>
        </form>
        <div style = "display: flex; align-items: last baseline; margin-left: 80px">
            <a>Already have an account?</a>
            <a class = "bold" style = "margin-left: 10px;" href="/accounts/login/">Log in</a>
        </div>
    </main>
</body>
</html>