<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <div>
        <a style = "margin-left: 20px;" href = "/"><img src= "/static/images/insta_logo.png" alt="Insta Logo" width="50" height="50"></a>
        <a class = "bold" style = "float: right;" href="/accounts/login/">Log in</a>
        <hr>
    </div>
    <div>
        <form class="create" action="/accounts/create/" method="POST" enctype="multipart/form-data">
            <p>
                <label for="f">Photo</label>
                <input type="file" id="f" name="file" required/><br>
            </p>
            <p>
                <label for="fn">Name</label>
                <input type="text" id="fn" name="username" required/><br>
            </p>
            <p>
                <label for="u">Username</label>
                <input type="text" id="u" name="fullname" required/><br>
            </p>
            <p>
                <label for="e">Email</label>
                <input type="text" id="e" name="email" required/><br>
            </p>
            <p>
                <label for="p">Password</label>
                <input type="password" id="p" name="password" required/><br>
            </p>
            <input type="submit" value="Sign up"/><br>
            <input type="hidden" name="operation" value="create"/>
        </form>
        <div style = "display: flex; align-items: last baseline; margin-left: 80px">
            <a>Already have an account?</a>
            <a class = "bold" style = "margin-left: 10px;" href="/accounts/login/">Log in</a>
        </div>
    </div>
</body>