<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/ccp_logo.png">
    <title>ccp</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <a class = "ccp-logo" href="/"><img src = "/static/images/ccp_logo.png" alt = "CCP Logo"/></a>
        </nav>
    </header>
    <main id = "main">
        <!-- DO NOT CHANGE THIS -->
        <form action="/accounts/" method="post" enctype="multipart/form-data">
            <input type="submit" name="delete" value="confirm delete account"/>
            <input type="hidden" name="operation" value="delete"/>
        </form>
  
    </main>
</body>
</html>
