<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/ccp_logo.png">
    <title>ccp</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <a class = "ccp-logo" href="/"><img src = "/static/images/ccp_logo.png" alt = "CCP Logo"/></a>
        </nav>
    </header>
    <main id = "main">
        <img src = "/uploads/{{ user_image }}" alt = "profile" width="50" height="50"> 
        <a class = "bold"> {{ logname }} </a>
        <form action="/accounts/" method="post" enctype="multipart/form-data">
            <p>
                <label for="f">Photo</label>
                <input type="file" id="f" name="file" accept="image/*"/>
            </p>
            <p>
                <label for="n">Name</label>
                <input type="text" id="n" name="fullname" value="{{ fullname }}" required/>
            </p>
            <p>
                <label for="e">Email</label>
                <input type="text" id="e" name="email" value="{{ email }}" required/>
            </p>
            <p>
                <input type="submit" name="update" value="submit"/>
            </p>
            <input type="hidden" name="operation" value="edit_account"/>
        </form>
        <div>
            <a class = "bold" href="{{ url_for('show_password') }}">Change Password</a>
        </div>
        <div>
            <a class = "bold" href="{{ url_for('show_delete') }}">Delete Account</a>
        </div>
    </main>
</body>
</html>