<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/ccp_logo.png">
    <title>ccp</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <a class = "ccp-logo" href="/"><img src = "/static/images/ccp_logo.png" alt = "CCP Logo"/></a>
        </nav>
    </header>
    <main id = "main">
        <form action="/accounts/" method="post" enctype="multipart/form-data">
            <p>
                <input type="text" name="username" placeholder = "username" required/>
            </p>
            <p>
                <input type="password" name="password" placeholder = "password"required/>
            </p>
            <p>
                <input type="submit" value="login"/>
                <input type="hidden" name="operation" value="login"/>
            </p>
        </form>
    </main>
    <div>
        <div style = "display: flex; align-items: last baseline; margin-left: 80px; margin-top: 10px">
            <a>Don't have an account?</a>
            <a class = "bold" style = "margin-left: 10px;" href="/accounts/create/">Sign up</a>
        </div>
    </div>
</body>
</html>