<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/html5reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/ccp_logo.png">
    <title>ccp</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <a class = "ccp-logo" href="/"><img src = "/static/images/ccp_logo.png" alt = "CCP Logo"/></a>
        </nav>
    </header>
    <main id = "main">
        <form action="/accounts/" method="post" enctype="multipart/form-data">
            <p>
                <label for="p">Old password</label>
                <input type="password" id="p" name="password" required/>
            </p>
            <p>
                <label for="np1">New password</label>
                <input type="password" id="np1" name="new_password1" required/>
            </p>
            <p>
                <label for="np2">New password, again</label>
                <input type="password" id="np2" name="new_password2" required/>
            </p>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
  
        <div>
            <a class = "bold" href="/accounts/edit/">Back to edit account</a>
        </div>

    </main>
</body>
</html>